@model string
@{
    string platformClass = "btn--primary";
    string linkClass = null;

    switch (Model)
    {
        case "android":
            platformClass = string.Empty;
            linkClass = "mailto-link";
            break;
        case "ios":
            platformClass = "btn--gradient";
            break;
    }
}

<style>
    .todo-list {
        list-style: disc;
        margin-inline-start: 20px;
        padding-inline-start: 0;
    }

    .todo-list li + li {
        margin-top: 10px;
    }

    .mailto-link, .mailto-link:visited {
        color: white;
        text-decoration: underline;
    }
</style>
<div>
    <h3>
        Almost there!
    </h3>
    <div style="margin-bottom: 40px;text-align:left;">
        We just need clarification on your residency before you finish onboarding.<br/>
        Please send a clear and legible picture of your proof of address to <a class="@linkClass" href="mailto:support@lykke.com">support@lykke.com</a>
        <br/><br/>
        <ul class="todo-list">
            <li>Use Bank/Card Statement or Gas/Electricity/Water Bill or Official Governmental Documents</li>
            <li>The document should display Name, Surname, Street address (Non-P.O Box), Date, Issuer name</li>
            <li>The document you provide should not be older than 3 months and should be different from your ID document</li>
            <li>Please note that review might take up to 24 hours</li>
        </ul>
    </div>
    <div>
        <a href="@Url.Action("Signin", "Authentication")" class="btn btn-block @platformClass">Okay, I’ll do it!</a>
        <a href="@Url.Action("Signin", "Authentication")" style="margin-top:20px;" class="btn btn-block btn--link">Maybe later</a>
    </div>
</div>
