@model WebAuth.Models.StatusBarViewModel

<div class="myprogress-bar">
    <p class="myprogress-bar__pct">@Model.CompletionPercentage</p>
    <div class="myprogress-bar__status">
        <div class="myprogress-bar__status__filler" style="width: @Model.CompletionPercentage;"></div>
    </div>
</div>