@{
    Layout = "_LoginLayout.Mobile";
    ViewData["Title"] = "Service not available";
}

@section HeadStyles
{
    <environment names="Development">
        <link rel="stylesheet" href="~/styles/ios.css" asp-append-version="true">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/dist/ios.min.css" asp-append-version="true">
    </environment>

}

<div class="auth_group auth_group--form">
    <div class="container">
        <h2>Service not available in your country</h2>
        <div>
            For reasons outside our control, we are not allowed to onboard users in your territory.
            <br/>
            We hope that this situation changes in the near future.
        </div>
        <div>
            <a href="@Url.Action("Signin")" class="btn btn--gradient btn-block">Ok, I understand</a>
        </div>

    </div>
</div>
