.ng-cloak {display: none !important;}
.avatar { height: 100%;}
.btn--default.btn_loading:after{ display: block;}
.fileupload__preview, .fileupload__preview img { width: 5rem; height: 5rem; }
.fileupload__buttons { padding: 1rem 0 1.25rem; }
.btn_loading-standalone { width: 25px; height: 25px; background-color: transparent!important;}
.btn_loading-standalone:before { background-color: transparent!important;}
fieldset .form-control.ng-invalid { border-color: #ff3e2e; box-shadow: inset 0 0 0 1px #ff3e2e !important; }
fieldset .form-control.ng-invalid:focus { border-color: #ff3e2e; box-shadow: inset 0 0 0 1px #ff3e2e !important; }
::-ms-reveal {
    display: none;
}