@model WebAuth.Models.Profile.CountryOfResidenceViewModel

@{
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

@{ Html.RenderPartial("Components/StepCarousel", Model); }

<div class="main-wrapper profile__block-wrap profile-steps__details-wrap">

    @{ Html.RenderPartial("Components/NextStepButton", Model); }

    <div class="profile-steps__details">

        @{ Html.RenderPartial("Components/StepDescription", Model); }

        <form class="profile-steps__form" enctype="multipart/form-data" method="post" asp-route-returnurl="@Model.ReturnUrl"
              asp-controller="Profile" asp-action="CountryOfResidence">
            <div class="form-group">
                <div class="form__input-wrap">
                    <label>Country of Residence</label>
                    <select class="form-control form-control_long js-input-change" asp-for="Country"
                            asp-items="@Model.Countries" data-changable="true">
                    </select>
                </div>
                <span class="text-danger"></span>
            </div>

            <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl"/>
            <div class="profile__btn-block">
                <a class="btn btn-default btn-lg btn_left" href="@Model.NextStepUrl">Skip</a>
                <input class="btn btn-primary btn-lg btn_right disabled" disabled name="NextStep" type="submit"
                       value="Next step"/>
            </div>
        </form>
    </div>

    @{ Html.RenderPartial("Components/PrevStepButton", Model); }

</div>