
@model object
@{
    Layout = "_SpaLayout";
}
<div data-ng-controller="signupController as vm">
    <div class="signup-page">
        <ui-carousel data-ng-class="{'ui-carousel_loading': !vm.data.loaded}" slides="vm.data.slides" on-after-change="vm.handlers.handleCarouselLoaded()" dots="true" arrows="false">
            <carousel-item>
                <div>
                    <img class="carousel-item__logo" src="/images/lykke-logo-web.svg" />
                    <img class="carousel-item__image" data-ng-cloak data-ng-src={{item.imageSrc}} />
                    <div class="carousel-item__text" data-ng-cloak>"{{item.text}}"</div>
                </div>
            </carousel-item>
        </ui-carousel>
        <div class="signup-page__mobile-logo">
            <img src="/images/lykke_new.svg" />
        </div>
        <div class="signup-page__form">
            <div class="signup-page__signin-link">
                Already have an account? <a href="#">Sign In</a>
            </div>
            <div data-ng-switch="vm.data.currentStep">
                <form 
                    class="signup-form"
                    name="signupForm"
                    novalidate
                    autocomplete="off"
                    data-ng-switch-when="InitialInfo"
                    data-ng-submit="signupForm.$valid && vm.handlers.handleSubmit()"
                    accessible-form
                >
                    <div class="lykke-page-title">Create your Lykke Account</div>
                    <div class="lykke-page-subtitle">Enter your email and create a password</div>
                    <div class="lykke-form-group">
                        <label for="email" class="lykke-label">Email*</label>
                        <input
                            name="email"
                            id="email"
                            type="email"
                            data-ng-class="{'lykke-input': true, 'lykke-input_error': signupForm.email.$error.emailTaken}"
                            placeholder="Enter your email"
                            required
                            email-taken
                            data-ng-model="vm.data.model.email"
                            data-ng-model-options="{ updateOn: 'blur' }"
                        />
                        <div class="lykke-error-label" data-ng-show="signupForm.email.$error.required && signupForm.email.$touched">This field is mandatory</div>
                        <div class="lykke-error-label" data-ng-show="signupForm.email.$error.email && signupForm.email.$touched">Wrong email format</div>
                        <div class="lykke-error-label" data-ng-show="signupForm.email.$error.emailTaken && signupForm.email.$touched">This Email is taken</div>
                    </div>
                    <div class="lykke-form-group">
                        <label class="lykke-label">Password*</label>
                        <input-password
                            placeholder="Minimum 8 characters"
                            data-ng-model="vm.data.model.password"
                            name="password"
                        ></input-password>
                        <div class="lykke-error-label" data-ng-show="signupForm.password.$error.required && signupForm.password.$touched">This field is mandatory</div>
                    </div>
                    <div data-ng-show="vm.data.isSubmitting || signupForm.email.$pending.emailTaken" class="spinner_container">
                        <div class="spinner">
                            <div class="spinner__inside"></div>
                        </div>
                    </div>
                    <input data-ng-hide="vm.data.isSubmitting || signupForm.email.$pending.emailTaken" type="submit" class="lykke-button lykke-button_colored" value="Register" />
                    <terms></terms>
                    <div class="signup-page__signin-link signup-page__signin-link_mobile">
                        Already have an account? <a href="#">Sign In</a>
                    </div>
                </form>
                <div data-ng-switch-when="AccountInformation">
                    TODO: Step 2
                </div>
            </div>
        </div>
    </div>
    <div data-ng-hide="vm.data.loaded" class="spinner_container initial-spinner">
        <div class="spinner">
            <div class="spinner__inside"></div>
        </div>
    </div>
</div>

@section scripts
{
    <environment names="Development">
        <script src="/js/vendor/bcrypt.min.js"></script>
        <script src="/js/app/components/signup/signup.service.js"></script>
        <script src="/js/app/components/signup/signup.controller.js"></script>
        <script src="/js/app/components/signup/signupStep.constant.js"></script>
        <script src="/js/app/components/shared/inputPassword/inputPassword.directive.js"></script>
        <script src="/js/app/components/shared/accessibleForm/accessibleForm.directive.js"></script>
        <script src="/js/app/components/shared/emailTaken/emailTaken.directive.js"></script>
        <script src="/js/app/components/shared/terms/terms.directive.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="/js/vendor/bcrypt.min.js"></script>
        <script src="~/dist/signup.min.js" asp-append-version="true"></script>
    </environment>
}

