@model object
@{
    Layout = "_SpaLayout";
}
<div data-ng-controller="signupController as vm">
    <div data-ng-switch="vm.data.currentStep">
        <initial-info data-ng-switch-when="InitialInfo"></initial-info>
        <account-info data-ng-switch-when="AccountInformation"></account-info>
    </div>
    <div data-ng-switch="vm.data.errorCode">
        <registration-id-not-found data-ng-switch-when="RegistrationIdNotFound"></registration-id-not-found>
    </div>

</div>

@section scripts
{
    <environment names="Development">
        <script src="/js/vendor/bcrypt.min.js"></script>
        <script src="/js/app/components/signup/signup.service.js"></script>
        <script src="/js/app/components/signup/signup.controller.js"></script>
        <script src="/js/app/components/signup/signupStep.constant.js"></script>
        <script src="/js/app/components/signup/errorCode.constant.js"></script>
        <script src="/js/app/components/signup/initialInfo/initialInfo.directive.js"></script>
        <script src="/js/app/components/signup/initialInfo/initialInfo.controller.js"></script>
        <script src="/js/app/components/signup/accountInfo/accountInfo.directive.js"></script>
        <script src="/js/app/components/signup/accountInfo/accountInfo.controller.js"></script>
        <script src="/js/app/components/signup/registrationIdNotFound/registrationIdNotFound.directive.js"></script>
        <script src="/js/app/components/signup/registrationIdNotFound/registrationIdNotFound.controller.js"></script>
        <script src="/js/app/components/shared/inputPassword/inputPassword.directive.js"></script>
        <script src="/js/app/components/shared/accessibleForm/accessibleForm.directive.js"></script>
        <script src="/js/app/components/shared/emailTaken/emailTaken.directive.js"></script>
        <script src="/js/app/components/shared/strongPassword/strongPassword.directive.js"></script>
        <script src="/js/app/components/shared/terms/terms.directive.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="/js/vendor/bcrypt.min.js"></script>
        <script src="~/dist/signup.min.js" asp-append-version="true"></script>
    </environment>
}

