@import 'variables.scss';
@import 'mixins.scss';

body {
  padding-bottom: 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}

.lykke-page-title {
  @include rem(font-size, 32px);
  font-weight: $fw-semi;
  line-height: 0.75;
  color: $text;

  @media all and (max-width: $screen-tablet) {
    font-size: 28px;
  }

  @media all and (max-width: $screen-landscape) {
    @include rem(font-size, 32px);
  }

  @media all and (max-width: $screen-mobile-tiny) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.lykke-page-subtitle {
  font-size: 17px;
  line-height: 1.29;
  color: $battleship-gray;

  @media all and (max-width: $screen-mobile-tiny) {
    font-size: 16px;
    line-height: 1.38;
  }
}

.lykke-form-group {
  text-align: left;
  margin-bottom: 32px;
}

.lykke-label {
  font-size: 16px;
  font-weight: $fw-semi;
  line-height: 1.56;
  color: $heading;
}

.lykke-error-label {
  position: absolute;
  margin-top: 6px;
  font-size: 13px;
  line-height: 1.54;
  color: $orangey-red;
}

.lykke-input {
  font-size: 16px;
  padding: 13px 20px;
  border-radius: 4px;
  border: solid 1px $border;
  width: 100%;
  height: 50px;
  color: $text;

  &.ng-touched.ng-invalid, &_error {
    border-color: $orangey-red;
  }

  @include inputPlaceholder() {
    color: $light-grey-blue;
  }

  &:focus {
    border-color: $azure;
  }

  &:disabled {
    background-color: $gray-5;
  }
}

.ng-submitted {
  .ng-invalid, .lykke-input_error {
    border-color: $orangey-red;
  }
}

.lykke-input-password {
  position: relative;

  &__toggle {
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 15px;

    @media all and (max-width: $screen-mobile) {
      top: 17px;
    }
  }
}

.lykke-button {
  @include rem(font-size, 18px);
  border: none;
  border-radius: 50px;
  background-color: $azure;
  color: $white;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  width: 320px;
  height: 56px;

  &_primary {
    letter-spacing: normal;
  }

  &_colored {
    background-image: linear-gradient(to right, #ff9100, #ff0029 50%, #ab00ff);
  }

  @media all and (max-width: $screen-mobile-tiny) {
    width: 100%;
  }
}

.lykke-terms {
  font-size: 14px;
  line-height: 1.43;
  color: $light-grey-blue;

  a {
    text-decoration: underline;
    color: $slate;
  }
}

.initial-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $white;
  padding-top: 45vh;
}

.select2-container {
  padding: 13px 20px;

  .select2-choice {
    border: 0;
    cursor: pointer;
    background: inherit;
    box-shadow: none;
    line-height: 1.5;
    padding: 0;

    .select2-arrow {
      border: 0;
      background: url('/images/dropdown.svg') no-repeat 50%;
    }
  }
}

.select2-drop-active {
  border: 1px solid $border;
  border-radius: 4px;
  box-shadow: none;
  left: 0;
  margin-top: 0;
}

.select2-search {
  padding: 16px 5px 0;

  input {
    padding: 0 15px;
    min-height: 40px;
    border-radius: 4px;
    border: solid 1px $border;
    color: $text;
    font-family: "Proxima Nova";
    background: none;
    max-width: 100%;

    @include inputPlaceholder() {
      color: $light-grey-blue;
    }
  }
}

.select2-chosen.ng-binding {
  color: $light-grey-blue;
}

.ui-select-choices-row:hover {
  background-color: $gray-5;
  color: $battleship-gray;
}

.select2-results {
  min-height: 350px;
  margin: 5px 0 0;
  padding: 0 5px;

  li {
    border-radius: 4px;
    line-height: 2.5;
    color: $slate;
  }

  .select2-result-label {
    padding: 0 15px;
  }

  .select2-highlighted {
    background-color: $azure-dark;
    color: $white;
  }
}

.modal-open {
  .signup-page {
    opacity: 0.5;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
}

.modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 570px;

  @media all and (max-width: 570px) {
    width: 100%;
  }

  .modal-content {
    padding: 30px 40px 25px;
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 6px;
    outline: 0;

    .modal-header {
      background: $white;

      .glyphicon {
        display: none;
      }

      .modal-title {
        @include rem(font-size, 28px);
        margin-bottom: 8px;
        font-weight: $fw-semi;
        line-height: 1.43;
        color: $heading;
      }
    }

    .modal-body {
      p {
        margin-bottom: 30px;
        @include rem(font-size, 18px);
        line-height: 1.67;
        color: $text;
      }
    }

    .btn {
      background: $azure-dark;
      width: 100%;
      font-size: 18px;
      font-weight: $fw-semi;
      text-transform: uppercase;
    }

    .btn-danger {
      background: $white;
      color: $azure-dark;
    }
  }
}

