$azure: #0da7fc;
$white: #fff;
$text: #333;
$heading: #111;
$gray: #818181;
$gray-5: #f5f6f7;
$battleship-gray: #657180;
$border: #cfd2d7;
$light-grey-blue: #b2b8bf;
$slate: #3f4d60;
$orangey-red: #ff3e2e;

$ff: "Proxima Nova", "Segoe UI",Roboto,"Droid Sans","Helvetica Neue",Arial,sans-serif;

$fw-black:      900;
$fw-extra:      800;
$fw-bold:       700;
$fw-semi:       600;
$fw-regular:    400;
$fw-light:      300;
$fw-thin:       200;

$screen-mobile-tiny: 480px;
$screen-mobile: 543px;
$screen-mobile-old: 640px;
$screen-landscape: 768px;
$screen-tablet: 991px;
$screen-desktop: 1199px;
