<!DOCTYPE html>
<html>
<head>
    <title>Verify your email address</title>
</head>
<body style="background-color: #F4F6F7;font-family: Geneva, Arial, Helvetica, sans-serif;">
    <div style="margin:20px auto;width:600px;">
        <img src="https://lkefiles.blob.core.windows.net/images/emails/logo_emails.png" height="60" alt="Lykke logo" />
    </div>
    <table style="margin:auto;width:600px;border: 1px solid #E5E7EA;background-color: #fff;">
        <tr>
            <td style="padding-top:50px;"></td>
        </tr>
        <tr>
            <td style="text-align:center;padding:0 40px 0 40px;">
                <img src="https://lkefiles.blob.core.windows.net/images/emails/verify_email.png" width="300" alt="Letter image" />
            </td>
        </tr>
        <tr>
            <td style="text-align:center;">
                <h1 style="font-size: 2.4em;">Verify your email address</h1>
            </td>
        </tr>
        <tr>
            <td style="padding:0 40px 0 40px;">
                <p style="text-align: center; font-size: 1.2em; color: #3F4D60; line-height: 180%; margin-top: 30px;">
                    In order to start using your Lykke Wallet account,<br/>you need to confirm your email address.
                    Please, enter the following PIN on your smartphone:
                </p>
            </td>
        </tr>
        <tr>
            <td style="padding:0 40px 30px 40px;text-align:center">
                <span style="font-size: 2.4em;margin:40px auto 0;padding:10px 20px 10px 20px;border: 1px solid #E5E7EA;">
                    {{ConfirmationCode}}
                </span>
            </td>
        </tr>
        <tr>
            <td style="padding:0 40px 20px 40px; text-align:center;font-size: 0.9em;color: #8C94A0;margin: 20px 0 40px 0;">
                <hr />
                <p style="padding-top:20px">If you did not sign up for this  account you can ignore this email and the account will be deleted.</p>
            </td>
        </tr>
    </table>
    <table style="margin:auto;width:600px;border: none;">
        <tr>
            <td style="padding:10px 40px 20px 40px; text-align:center;font-size: 0.9em;color: #8C94A0;margin: 20px 0 40px 0;">
                <p>&copy; Lykke {{Year}}. All rights reserved, support &mdash; <a style="color: #8C94A0;" href="mailto:support@lykkex.com">support@lykkex.com</a></p>
                <p>Let's be friends in social networks!</p>
                <a href="https://www.facebook.com/groups/542506412568917/"><img style="margin-right:10px" src="https://lkefiles.blob.core.windows.net/images/emails/fb_icon.png" height="25" alt="facebook" /></a>
                <a href="https://twitter.com/LykkeCity"><img style="margin-right:10px" src="https://lkefiles.blob.core.windows.net/images/emails/twitter_icon.png" height="25" alt="twitter" /></a>
                <a href="https://www.youtube.com/channel/UCmMYipGdKMF0kzfaE-PXsNQ"><img style="margin-right:10px" src="https://lkefiles.blob.core.windows.net/images/emails/youtube_icon.png" height="25" alt="youtube" /></a>
            </td>
        </tr>
    </table>
</body>
</html>