<!DOCTYPE html>
<html>
<head>
    <title>[KYC]</title>
</head>
<body>
    <table>
        <tr>
            <td>
                Full name: {{FullName}}
            </td>
        </tr>
        <tr>
            <td>
                Email: {{Email}}
            </td>
        </tr>
        <tr>
            <td>
                Phone: {{ContactPhone}}
            </td>
        </tr>
        <tr>
            <td>
                Registered: {{DateTime}}
            </td>
        </tr>
        <tr>
            <td>
                Country: {{Country}}
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://lykke-backoffice.azurewebsites.net/#/Kyc/DocumentsChecking/Client/"{{UserId}}">Kyc Page for the Registered Client</a>
            </td>
        </tr>
    </table>
</body>
</html>