<div class="lykke-input-password">
    <input required placeholder="{{vm.placeholder}}" name="{{vm.name}}" data-ng-show="vm.isHidden" class="lykke-input" type="password" data-ng-model="vm.ngModel">
    <input required placeholder="{{vm.placeholder}}" data-ng-hide="vm.isHidden" class="lykke-input" type="text" data-ng-model="vm.ngModel">
    <div class="lykke-input-password__toggle" data-ng-click="vm.toggle()">
        <img data-ng-show="isHidden" src="/images/show-icn.svg" />
        <img data-ng-hide="isHidden" src="/images/hide-icn.svg" />
    </div>
</div>