<div class="lykke-input-password">
    <input data-ng-class="{'lykke-input_error': vm.hasError}" strong-password required placeholder="{{vm.placeholder}}" name="{{vm.name}}" class="lykke-input" type="{{vm.isHidden ? 'password' : 'text'}}" data-ng-model="vm.ngModel">

    <div class="lykke-input-password__toggle" data-ng-click="vm.toggle()">
        <img data-ng-show="vm.isHidden" src="/images/show-icn.svg" />
        <img data-ng-hide="vm.isHidden" src="/images/hide-icn.svg" />
    </div>
</div>