@model WebAuth.Models.RegistrationViewModel

<div class="login__block  login__block_register">
    <h4 class="login__block-title">Get started</h4>
    <p class="block-description">You will use this login information to access all Lykke products and services</p>
    <form enctype="multipart/form-data" method="post" autocomplete="off" asp-route-returnurl="@Model.ReturnUrl" asp-controller="Authentication" asp-action="Register">
        <div class="form-group">
            <div class="form__input-wrap form__input-wrap_icon form__input-wrap_icon_email">
                <input class="form-control form-control__input form-control_long" placeholder="E-mail address" asp-for="Email"/>
            </div>
            <span asp-validation-for="Email" class = "text-danger"></span>
        </div>

        <div class="form__field-wrap">
            <div class="form__input-wrap form__input-wrap_icon form__input-wrap_icon_password">
                <input class="form-control form-control__input" placeholder="Password" asp-for="RegistrationPassword"/>
            </div>
            <span asp-validation-for="RegistrationPassword" class="text-danger"></span>
        </div>

        <div class="form__field-wrap form__field-wrap_right">
            <div class="form__input-wrap form__input-wrap_icon form__input-wrap_icon_password">
                <input class="form-control form-control__input" placeholder="Confirm password" asp-for="ConfirmPassword"/>
            </div>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl"/>
        <input class="btn btn-primary btn-lg form__btn form-control_long" name="Authorize" type="submit" value="Get started"/>
    </form>
</div>