@model WebAuth.Models.LoginViewModel

<div class="login">
    <h2 class="login__title">Discover the future of markets</h2>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-tabs_mobile-only" role="tablist">
        <li role="presentation"  class="active"><a href="#Signin" aria-controls="Signin" role="tab" data-toggle="tab">Log In</a></li>
        <li role="presentation"><a href="#SignUp" aria-controls="SignUp" role="tab" data-toggle="tab">Sign Up</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

        <div role="tabpanel" class="tab-pane tab-pane_mobile-only active" id="Signin">
            @{ Html.RenderPartial("Login/SignIn", Model.Signin); }
        </div>
        <div role="tabpanel" class="tab-pane tab-pane_mobile-only" id="SignUp">
            @{ Html.RenderPartial("Login/Registration", Model.Registration); }
        </div>

    </div>


</div>