@{
ViewData["Title"] = "Error";
}

<div class="error">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">Ooooops, something went really bad! :(</h2>
    <p>
        <strong>Access denied!</strong>

        @*<small>You are trying to access a profile that you are not logged into.</small>*@
        <small>Your session has timed out! Please sign in again.</small>

    </p>
</div>
