@model WebAuth.Models.LykkeLogoViewModel

@{
    var src = Model.UseWhiteLogo ? "/images/lykke-white.svg" : "/images/lykke_new.svg";
}

<a href="@Model.Url">
    <img alt="lykke_logo" class="header_logo__img" src=@src>
</a>
