@model WebAuth.Models.HeaderLogoViewModel

@if (!string.IsNullOrEmpty(Model.Url) && Model.IsStreams.HasValue)
{
    if (Model.IsStreams.Value)
     {
         <a href="@Model.Url">
             <img class="header_logo__img" src="/images/profile/streams_logo.svg" height="40" alt="streams_logo">
             <div class="header_logo__title">Lykke<span>Streams</span>
             </div>
         </a>
     }
     else
     {
         <a href="@Model.Url">
             <img class="header_logo__img" src="/images/profile/lykke_new.svg" height="36" alt="lykke_logo">
         </a>
     }

}
