<div data-ng-controller="signInController as vm">
    <div class="signup-page">
        <image-carousel on-load="vm.handlers.handleCarouselLoaded"></image-carousel>
        <div class="signup-page__mobile-logo">
            <img src="/images/lykke_new.svg" />
        </div>
        <div class="signup-page__form">
            <div class="signup-page__signin-link">
                Don't have an account? <a href="#" data-ng-click="vm.handlers.handleSignUpClick()">Sign Up</a>
            </div>
            <form 
                class="signup-form"
                name="signupForm"
                novalidate
                autocomplete="off"
                accessible-form
            >
                <div class="lykke-page-title">Welcome back</div>
                <div class="lykke-page-subtitle">Enter your details below</div>
                <div class="lykke-form-group">
                    <label for="email" class="lykke-label">Email*</label>
                    <input
                        name="email"
                        id="email"
                        type="email"
                        class="lykke-input"
                        placeholder="Enter your email"
                        required
                        email-taken
                        data-ng-model="vm.data.model.email"
                        data-ng-model-options="{ updateOn: 'blur' }"
                    />
                    <div class="lykke-error-label" data-ng-show="signupForm.email.$error.required && (signupForm.email.$touched || signupForm.$submitted)">This field is mandatory</div>
                    <div class="lykke-error-label" data-ng-show="signupForm.email.$error.email && (signupForm.email.$touched || signupForm.$submitted)">Wrong email format</div>
                </div>
                <div class="lykke-form-group">
                    <label class="lykke-label">Password*</label>
                    <input-password
                        placeholder="Enter your password"
                        data-ng-model="vm.data.model.password"
                        data-has-error="vm.data.isPasswordPwned"
                        name="password"
                    ></input-password>
                    <div class="lykke-error-label" data-ng-show="signupForm.password.$error.required && (signupForm.password.$touched || signupForm.$submitted)">This field is mandatory</div>
                </div>
                <div data-ng-show="vm.data.isSubmitting" class="spinner_container">
                    <div class="spinner">
                        <div class="spinner__inside"></div>
                    </div>
                </div>
                <input data-ng-hide="vm.data.isSubmitting" type="submit" class="lykke-button lykke-button_colored" value="Sign In" />
                <div class="signup-page__forgot-password-link">
                    <a href="#">Forgot password?</a>
                </div>
                <div class="signup-page__signin-link signup-page__signin-link_mobile">
                    Don't have an account? <a href="#" data-ng-click="vm.handlers.handleSignUpClick()">Sign Up</a>
                </div>
            </form>
        </div>
    </div>
    <div data-ng-hide="vm.data.loaded" class="spinner_container initial-spinner">
        <div class="spinner">
            <div class="spinner__inside"></div>
        </div>
    </div>
</div>